body {
  width: 100%;
  height: 100%;
  /*background: #fff url('') cover no-repeat fixed center;*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

input {
  color: white;

}

.grid-center {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0;
  /* grid-auto-rows: minmax(33%, auto); */
  width: 100vw;
  height: 100vh;
}

.grid-center > div {
  grid-column: 2;
  grid-row: 2;
  margin: 0;

  color: white;
  opacity: .9;
}
