
.nav-wrapper {
    background-color: #AD1457;
}

strong {
    font-weight: bold;
}

.input-field input{
	color: #FAFAFA;
}

/* Dark and unclickable collapsed navbar fix  */
.sidenav-overlay {
    z-index: 996;
}

/*margin-left:auto;margin-right:auto;*/
#post-list {
    padding-left: 40px;
    padding-right: 40px;
}

.post {
    margin-bottom: 20px;
}

.main-content {
    padding: 20px;
}

.number-only-badge {
    min-width: 1.1rem !important;
    font-weight: bold !important;
}
